<%- include('../../../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %> 
            </div>

            <div class="col-md-10 my-5">
                <!-- single post start  -->
                <div class="card card-body">
                    <h5>List of My Posts</h5>
                    <div class="row">
                        <% if(posts.length == 0 ) { %>
                            <div class="text-center text-muted my-3 mx-3">
                                <p>There is no Posts available right now </p>
                                <a href="/posts/create" class="btn btn-primary btn-sm">Create Post Now </a>
                            </div> 
                        <% } else { %>
                            <% for (let post of posts.reverse() ) { %>
                                <div class="card col-sm-3 m-3">
                                    <% if (post.thumbnail ){ %>
                                        <img src="<%= post.thumbnail %>" alt="<%= post.title%>" class="card-img-top mt-3">

                                    <% } %>  

                                    <div class="card-body">
                                        <a href="/posts/edit/<%= post._id%>" style="color: #222;">
                                            <h5><%= post.title%> </h5>
                                        </a>
                                    </div>
                                    
                                </div>
                            <% } %>  
                        <% } %>     
                    </div>
                </div>
                <!-- single post end  -->
                </div>
            </div>


        </div>
        <%- include('../../../partials/footer.ejs') %>

        </body>
    </html>